.section-comprobantes {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../public/img/Reina.jpg'), 
                    url('./../../public/img/ReinaHarry.jpg'),
                    url('./../../public/img/Harry.jpg');
  background-position: left center, center center, right center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size:20% 100%, 60% 100%, 20% 100%;
}









   @media screen and (max-width: 524px) {

.section-comprobantes {
  width: 100vw;
  height: 100vh;

  /* La primera (ReinaHarry) va al frente, la segunda (Cielo) al fondo */
  background-image: url('./../../public/img/ReinaHarry.jpg'), url('./../../public/img/Cielo.jpeg');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: contain, cover; /* La primera mantiene proporciones, la segunda ocupa todo */
}


   }