.section-comprobantes {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../public/img/Cielo.jpeg');
  background-position: left center, center center, right center;
  background-repeat: no-repeat;
  background-size: cover;
}









   @media screen and (max-width: 524px) {

.section-comprobantes {
  width: 100vw;
  height: 100vh;

  /* La primera (ReinaHarry) va al frente, la segunda (Cielo) al fondo */
  background-image: url('./../../public/img/Cielo.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* La primera mantiene proporciones, la segunda ocupa todo */
}


   }